@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.Post {
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin: 8px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Post img {
    width: 300px;
}

.Post > div:nth-child(1) {
    font-size: large;
    font-weight: bold;
}

.Post > div:nth-child(2) {
    font-size: small;
}

.NewPostAnimation {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}