#post {
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin: 8px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#post img {
    width: 300px;
}

#post > div:nth-child(1) {
    font-size: large;
    font-weight: bold;
}

#post > div:nth-child(2) {
    font-size: small;
}