.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.Header nav {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.Header .active {
    color: green;
}

.Header img {
    width: 104px;
}