#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#header nav {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

#header .active {
    color: green;
}

#header img {
    width: 104px;
}