.AddProduct {
    border: 1px dashed lightseagreen;
    padding: 4px;
    margin: 4px;
}

.AddProduct > form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.AddProduct .error {
    color: red;
}